TLS_DOMAIN=hblock-resolver.localdomain
TLS_EMAIL=admin@hblock-resolver.localdomain
#TLS_CASERVER=acme-v02.api.letsencrypt.org
TLS_CASERVER=acme-staging-v02.api.letsencrypt.org
TLS_DNSPROVIDER=cloudflare
CLOUDFLARE_EMAIL=admin@hblock-resolver.localdomain
CLOUDFLARE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
