SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user command
 0 5 * * * renew-self-signed-cert >/proc/1/fd/1 2>&1
 5 5 * * * update-blacklist-rpz >/proc/1/fd/1 2>&1
10 5 1 * * update-geoip-database >/proc/1/fd/1 2>&1
#
