http://{$TLS_DOMAIN}:80 {
	redir / https://{host}{uri} 301

	log / /dev/null
	errors stderr
}

https://{$TLS_DOMAIN}:443 {
	tls {$TLS}
	tls {$TLS_EMAIL} {
		ca https://{$TLS_CASERVER}/directory
		dns {$TLS_DNSPROVIDER}
	}

	proxy / https://hblock-resolver:8453 {
		insecure_skip_verify
		transparent
		websocket
	}

	proxy /doh https://hblock-resolver:443 {
		insecure_skip_verify
		transparent
	}

	proxy /grafana http://grafana:3000 {
		transparent
		websocket
	}

	log / /dev/null
	errors stderr
}
